body{
    margin:0px;
    font-family: 'Roboto', sans-serif;

}
 h1{
    font-size: 50px;
    color:#363958;
    width:30%;
    font-family: 'Bebas Neue', cursive;

    
}
#my-name{
    font-size:80px;
    
}
.text-highlight{
    color:#FF8367;
}
p{
    color:#3E3E3E;
    padding-bottom: 30px;

}
.half-portion{
    width:40%;
    float:left;
    margin-left: 7%;
    padding-left: 2%;

}
.half-portion img{
    width:80%;
    margin-top: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#3368fa,#4ccdf5);
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
}
section{
    height:450px;
    padding-bottom: 80px;
}
#button-highlight{
    background-image: linear-gradient(45deg,#f68a32,#f8dc3b);

}
h2{
    font-size: 48px;
    color:#363958;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 35px;
    padding-top: 85px;

}
h3{
    color:#363958;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;

}
.latest-portion{
    width:25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.latest-portion img{
    width:80%;
    padding-top: 15px;
}
.single-work{
    box-shadow: 5px 5px 20px #dbd9d9;
    border-radius: 15px;
    height: 50%;
    background-color: white;
}
.latest-area{
    background-color: #eff3f3;
    height:650px;
}
.working-area{
    width:80%;
    margin-left:10%;
    margin-top:10%;
    background-image: url("images/inquiry.png");
    background-size: 100%;
    background-repeat:no-repeat;
}
.work-portion{
    width:35%;
    float:left;
    padding-left: 12%;
    margin-top: 40px;
}
h4{
    font-size: 35px;
    color:white;
}
#chat-highlight{
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    
}
.photography-area h3{
    font-size: 48px;
    text-align: center;
    margin-top:0px;
}
.photo-portion{
    float:left;
    margin-left: 10%;
    padding-bottom: 150px;
}
.photo-portion img{
    width:40%;
    padding-left: 15px;
    padding-top: 15px;
}
footer p{
    text-align: center;
    color:#696871;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0px;

}
.icon{
    float:left;
    margin-left: 42%;
}
.icon img{
    width: 10%;
    padding-left:20px;

}